/* style.css*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  color: white;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/ikbenvlad/ROC-WEBSITE/refs/heads/main/Images/Lebron%20Dunk.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

header, footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}
.nav-container {
  position: relative;
  display: inline-block;
}
.menu-icon {
  background: #333;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  display: inline-block;
  align-items: left;
}
.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  background: #444;
  width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown-menu ul li {
  padding: 12px;
  border-bottom: 1px solid #555;
}
.dropdown-menu ul li a {
  color: white;
  text-decoration: none;
  display: block;
}
.nav-container:hover .dropdown-menu {
  display: block;
}
.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
.gallerij1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30%);
  gap: 20px;
}
.gallerij1 img {
  width: 5%;
  height: 5%;
  padding: 10px;
}

#gallerij {
  border-radius: 10px;
  background: rgba(255,255,255,0.2);
}